In [1]:
# Global Imports ----
import streamlit as st
import pandas as pd
import pydeck as pdk
from datetime import date, datetime
import os

# Constants ----
REPO_NAME = "FLIGHTSDASHBOARD"

# Ensure the directory is correct... every time. ---
for _ in range(5):
    if not os.path.basename(os.getcwd()).lower() == REPO_NAME.lower():
        os.chdir("..")
    else:
        break

In [2]:
flightsDF = pd.read_csv("./data/external/flights-jan-mar-2020.csv")
flightsDF['firstseen'] = pd.to_datetime(flightsDF['firstseen']).dt.strftime('%Y-%m-%d')

covidDF = pd.read_csv("./data/external/covid.csv")
covidDF['date'] = pd.to_datetime(covidDF['date']).dt.strftime('%Y-%m-%d')

carsDF = pd.read_csv("./data/external/car-accidents.csv")

In [3]:
carsDF

             lng        lat
0      -0.198465  51.505538
1      -0.178838  51.491836
2      -0.205590  51.514910
3      -0.208327  51.514952
4      -0.206022  51.496572
...          ...        ...
140051 -3.376671  55.023855
140052 -3.242159  55.016316
140053 -3.387067  55.163502
140054 -3.123385  55.020580
140055 -3.348646  55.103676

[140056 rows x 2 columns]